// masked buttons on security journey
.input-field_masked__span {
    position: relative;
    right: 3.6em;
    color: $primary-color;
    cursor: pointer;
    font-size: 21px;
    
    @media screen and (max-width: 576px) {
        position: absolute;
        right: 0.6em;
        font-size: 18px;
    }
}
.reset-credentials, 
.forgot-username {
    .title-block {
        margin-bottom: 20px;
    }

    h2 {
        margin-bottom: 0.2em;
    }
    
    .reset-credentials__input-field {
        position: relative;
        display: inline;
    }
    .form {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

   .form__field-wrapper {
       
     .button__submit-btn--next {
         margin-bottom: 0px;
     }
   } 
}

.forgot-username {
    .title-block {
        margin-bottom: 0px;
    }
    .form {
        .form__field-label {
            position: relative;
            max-width: 390px;
            .header__question-mark {
                position: absolute;
                right: 0px;
            }
        }
        .form__field-input {
            padding-right: 65px;
        }
    }
    .header__content--img {
        margin-left: 10px;
        .header__question-mark {
            img {
                width: 22px;
            }
        } 
        .header__content--icons {
            cursor: pointer;
            padding-top: 4px;
            padding-bottom: 0px;
        }
    }
}
.forgot-credentials {
    button {
        margin-bottom: $btn-margin-forgot-links;
    }
}
.security-details-creted {
    margin-bottom: -50px;
}
.forgot-both-credentials {
    .button__submit-btn--next {
        margin-top: 0px;
    }
}
.forgot-password {
    .form {
        padding-bottom: 10px;
    }
}